.footer__copywrite {
    font-weight: 400;
    font-size: 11px;
    color: #ffffff;
    vertical-align: middle;
    height: 108px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }