.form__inputs{
    display: flex;
    flex-direction: column;
}
.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 850px;
    font-weight: 400;
    font-size: 18px;

}
.form__buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @include media-md-max {
        flex-direction: column-reverse;
    }
}